body {
  font-family: Arial;
  background: #fbc531;
}

.container {
  width: 400px;
  margin: auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

#map {
  height: 300px;
  margin-top: 10px;
}

.map-toggle {
    position: absolute;
    top: 80px;
    right: 12px;
    z-index: 999;
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    cursor: pointer;
}
